{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="nemo"></div>
<div class="container">
    <div class="item mb-3"><P>'Cafe the Cartoon'</P></div>
    <div class="item">
        <form method="GET" action="{% url 'search:search' %}" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="container2">
                <div class="item"><input class="form-control rounded-0 rounded-start border border-dark" style="width:280px" type="search" placeholder="&#xf002; &nbsp; 도서 또는 작가를 빈칸 없이" name="q" value="{{q}}"></div>
                <div class="item"><button type="submit" class="btn btn-dark rounded-0 rounded-end border border-dark">찾기</button></div>
            </div>
            <div class="nemo2"></div>
            <div class="container3">
                {% if user.is_authenticated %}
                <div class="item"><a href="{% url 'search:new' %}" class="btn btn-primary">새책입력</a></div>
                <div class="item"><a href="{% url 'search:orderby' %}" class="btn btn-primary ms-3">장소정렬</a></div>
                <div class="item"><a href="{% url 'search:export_content' %}" class="btn btn-primary ms-3">내려받기</a></div>
                {% else %}
                {% endif %} 
            </div>
        </form>
    </div>    


    
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    input {
        font-family: fontAwesome;

    }

    P {
        font-family: 'Rampart One', cursive;
        font-size: 100px;
    }

    .nemo {
        height: 150px;
    }

    .nemo2 {
        height: 20px;
    }

    @media (max-width: 600px) {
        p {
         font-size: 30px;
        }

        .nemo {
            height: 100px;
        }

    }
</style>

{% endblock %}